<td-layout-nav logo="assets:covalent" navigationRoute="/">
      <mat-icon td-menu-button tdLayoutToggle style="padding-right: 4%">menu</mat-icon>
    <div layout-gt-xs="row" layout-align="center center" class="div-row">
    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 1
          </div>
          <mat-icon class="icon tc-indigo-700">beach_access</mat-icon>

        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 2
          </div>
          <mat-icon class="icon tc-indigo-700">pool</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 3
          </div>
          <mat-icon class="icon tc-indigo-700">kitchen</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div layout-gt-xs="row" layout-align="center center" class="div-row">
    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 4
          </div>
          <mat-icon class="icon tc-indigo-700">business_center</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 5
          </div>
          <mat-icon class="icon tc-indigo-700">casino</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 6
          </div>
          <mat-icon class="icon tc-indigo-700">spa</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div layout-gt-xs="row" layout-align="center center" class="div-row">
    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 7
          </div>
          <mat-icon class="icon tc-indigo-700">golf_course</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 8
          </div>
          <mat-icon class="icon tc-indigo-700">child_care</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="30">
      <mat-card routerLink="/room" class="card-style">
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 9
          </div>
          <mat-icon class="icon tc-indigo-700">airport_shuttle</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</td-layout-nav>