<td-layout-nav logo="assets:covalent" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div layout-gt-xs="row" layout-align="center center">
    <div flex-gt-lg="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 1
          </div>
          <mat-icon class="icon tc-indigo-700">beach_access</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-lg="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 2
          </div>
          <mat-icon class="icon tc-indigo-700">pool</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-lg="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 3
          </div>
          <mat-icon class="icon tc-indigo-700">kitchen</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div layout-gt-xs="row" layout-align="center center">
    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 4
          </div>
          <mat-icon class="icon tc-indigo-700">business_center</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 5
          </div>
          <mat-icon class="icon tc-indigo-700">casino</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div flex-gt-xs="20">
      <mat-card>
        <mat-card-content class="text-center">
          <div class="mat-headline push-bottom-none">Task 6
          </div>
          <mat-icon class="icon tc-indigo-700">spa</mat-icon>
          <div>
            <div class="mat-subheading-2 push-bottom-none">More info...</div>
            <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div layout-gt-xs="row" layout-align="center center">
      <div flex-gt-xs="20">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">Task 7
            </div>
            <mat-icon class="icon tc-indigo-700">golf_course</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">More info...</div>
              <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div flex-gt-xs="20">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">Task 8
            </div>
            <mat-icon class="icon tc-indigo-700">child_care</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">More info...</div>
              <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div flex-gt-xs="20">
        <mat-card>
          <mat-card-content class="text-center">
            <div class="mat-headline push-bottom-none">Task 9
            </div>
            <mat-icon class="icon tc-indigo-700">airport_shuttle</mat-icon>
            <div>
              <div class="mat-subheading-2 push-bottom-none">More info...</div>
              <div class="mat-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

</td-layout-nav>